.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar {
    background: #F4511E;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
footer {
    margin: 50px 0;
    padding: 30px 0;
}


.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}


h2 {
  margin-top: 24px;
  margin-bottom: 24px;
}
p {
  color: grey;
}
