<div class="meal-item">
<a href="#">
  <img class="img-responsive" src="{{$ctrl.image}}" alt="">
</a>
<div class="title">
    <h4>
    <a href="/recipe/{{$ctrl.recipedata._id}}">{{$ctrl.title}}</a>
    </h4>
        <button type="submit" class="btn btn-sm btn-info" ng-click="$ctrl.random()"><span class="glyphicon glyphicon-refresh"></span></button>
        <ng-switch on="$ctrl.isScheduled">
            <button ng-switch-when="true" type="submit" class="btn btn-danger btn-sm" ng-click="$ctrl.remove()"><span class="glyphicon glyphicon-remove"></span></button>
            <button ng-switch-default type="submit" class="btn btn-success btn-sm" ng-click="$ctrl.add()"><span class="glyphicon glyphicon-plus"></span></button>
        </ng-switch>
</div>
</div>
