<div class="container">
    <div class="row">
        <h1>Query</h1>
        
        <div class="col-md-8">
            <textarea class="form-control" rows="3">{{$ctrl.queryString}}</textarea>
        <button ng-click="$ctrl.runQuery()">Submit</button>
        </div>
        
    </div>
    <br>
    <div class="row">
        <h2>Results</h2>
        <table class="table">
            <tr >
                <th ng-repeat="column in $ctrl.queryColumns">{{column}}</th>
            </tr>
            <tr ng-repeat="row in $ctrl.queryResponse">
                <th ng-repeat="col in $ctrl.queryColumns">{{row[col]}}</th>
            </tr>
        </table>
    </div>
</div>