/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}*/

* { // this works for all but td
  word-wrap:break-all;
}

table { //this somehow makes it work for td
  table-layout:fixed;
  width:100%;
}