<div class="container">
    <div class="row">
        <h1>Query</h1>
        
        <div class="col-md-8">
            <textarea ng-model="consoleCtrl.queryString" class="form-control" rows="3"></textarea>
        <button ng-click="consoleCtrl.runQuery()">Submit</button>
        </div>
        
    </div>
    <br>
    <div class="row">
        <h2>Results</h2>
        <table class="table">
            <tr >
                <th ng-repeat="column in consoleCtrl.queryColumns">{{column}}</th>
            </tr>
            <tr ng-repeat="row in consoleCtrl.queryResponse">
                <th ng-repeat="col in consoleCtrl.queryColumns">{{row[col]}}</th>
            </tr>
        </table>
    </div>
</div>