<div class="container">
    <div class="row">
        
        
        <h1>Query</h1>
        
        <div class="col-md-8">
        <form class="form" style="width: inherit">
        <label for="queryurl">Query URL</label>
            <input id="queryurl" class="form-control" type="text" ng-model="consoleCtrl.queryUrl" placeholder="Query/<SQL File>"><br/>
                <label for="queryString">Query String</label>
            <textarea id="queryString" ng-model="consoleCtrl.queryString" class="form-control" rows="3"></textarea>
        
            <button ng-click="consoleCtrl.runQuery()">Submit</button>
        </form>

            </div>
        <div class="col-md-4">
            <label>Query Params</label><button ng-click="consoleCtrl.addnewParam()">Add param</button><br/>
            <querytestparam  ng-repeat="param in consoleCtrl.queryParams" prop="param">Param</querytestparam>
            
            

        </div>
        
    </div>
    <br>
    <div class="row">
        <h2>Results</h2>
        <table class="table">
            <tr >
                <th ng-repeat="column in consoleCtrl.queryColumns">{{column}}</th>
            </tr>
            <tr ng-repeat="row in consoleCtrl.queryResponse">
                <th ng-repeat="col in consoleCtrl.queryColumns">{{row[col]}}</th>
            </tr>
        </table>
    </div>
</div>