<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select A Recipe for <span class="capitalize">{{$ctrl.mealtime}}</span> on {{$ctrl.date.toDateString()}} </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="container-fluid">
        <div class="row">
                <div class="row">
                    <div class="col-sm-7"> <!--Favorite Recipes-->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#MyFavs" data-toggle="tab">My Favorite Recipes</a></li>
                        <li ><a href="#MyRecipes" data-toggle="tab">Suggested Recipes</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"><input type="search" class="form-control input-md" ng-model="$ctrl.resultsFilter" placeholder="Filter results"></div>
                </div>
              <div class="tab-content">
                <!-- my favs -->
                <div class="tab-pane fade" id="MyFavs">
                  <!-- Projects Row -->
                  <div class="row">
                    <div class="col-md-3 recipe-item" ng-repeat="recipe in $ctrl.myrecipes">
                      <a href="#">
                        <img class="img-responsive image" src="http://placehold.it/200x150" height="200px" width="150px" alt="">
                      </a>
                      <h3>
                        <a href="#">Recipe Title</a>
                      </h3>
                      <ng-switch on="">
                        <button ng-switch-default type="submit" class="btn btn-success btn-sm" ng-click="$ctrl.add(recipe)"><span class="glyphicon glyphicon-plus"></span></button>
                      </ng-switch>
                    </div>
                  </div>
                  <!-- /.row -->
                </div> <!-- my favs -->
                <div class="tab-pane fade" id="MyRecipes">
                  <!-- Projects Row -->
                  <div class="row">
                    <div class="col-md-3 recipe-item" ng-repeat="recipe in $ctrl.myrecipes">
                      <a href="#">
                        <img class="img-responsive image" src="http://placehold.it/200x150" height="200px" width="150px" alt="">
                      </a>
                      <h3>
                        <a href="#">Recipe Title</a>
                      </h3>
                      <ng-switch on="">
                        <button ng-switch-default type="submit" class="btn btn-success btn-sm" ng-click="$ctrl.add(recipe)"><span class="glyphicon glyphicon-plus"></span></button>
                      </ng-switch>
                    </div>
                  </div>
                  <!-- /.row -->
                </div> 
              </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
