<a class="boxclose" ng-click="$ctrl.cancel()" id="boxclose"><span class="glyphicon glyphicon-remove"></span></a>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select A Recipe for <span class="capitalize">{{$ctrl.mealtime}}</span> on {{$ctrl.date.toDateString()}} </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="container-fluid">
        <div class="row">
                <div class="row">
                    <div class="col-sm-7"> <!--Favorite Recipes-->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#MyFavs" data-toggle="tab">My Favorite Recipes</a></li>
                        <li ><a href="#MyRecipes" data-toggle="tab">Suggested Recipes</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"><input type="search" class="form-control input-md" ng-model="$ctrl.resultsFilter" placeholder="Filter results"></div>
                </div>
              <div class="tab-content">
                <!-- my favs -->
                <div class="tab-pane fade active in" id="MyFavs">
                  <!-- Projects Row -->
                    <br/>
                  <div class="row">
                      <div ng-show="$ctrl.favsLoaded" ng-repeat="recipe in $ctrl.favoriteRecipes | filter:$ctrl.resultsFilter as results">
                        <div class="clearfix" ng-if="$index % 4 == 0"></div>
                        <div  class="col-md-3 recipe-item" >
                          <a href="#">
                            <img class="img-responsive image" src="{{recipe.data.imageAddress}}" height="200px" width="150px" alt="">
                          </a>
                          <h3 ng-bind="recipe.data.recipeName">
                              Recipe Title
                            <!--<a href="#" ng-bind="recipe.data.recipeName">Recipe Title</a>-->
                          </h3>
                          <ng-switch on="">
                            <button ng-switch-default type="submit" class="btn btn-success btn-sm" ng-click="$ctrl.add(recipe.RecipeId)"><span class="glyphicon glyphicon-plus"></span></button>
                          </ng-switch>
                        </div>
                      </div>
                  </div>
                  <!-- /.row -->
                </div> <!-- my favs -->
                <div class="tab-pane fade" id="MyRecipes">
                  <!-- Projects Row -->
                  <div class="row">
                    <div ng-show="$ctrl.suggestedLoaded" class="col-md-3 recipe-item" ng-repeat="recipe in $ctrl.suggestedRecipes">
                      <a href="#">
                        <img class="img-responsive image" ng-src="{{recipe.data.imageAddress}}" src="http://placehold.it/200x150" height="200px" width="150px" alt="">
                      </a>
                      <h3 ng-bind="recipe.data.recipeName">
                          Recipe Title
                        <!--<a href="#" ng-bind="recipe.data.recipeName">Recipe Title</a>-->
                      </h3>
                      <ng-switch on="">
                        <button ng-switch-default type="submit" class="btn btn-success btn-sm" ng-click="$ctrl.add(recipe)"><span class="glyphicon glyphicon-plus"></span></button>
                      </ng-switch>
                    </div>
                  </div>
                  <!-- /.row -->
                </div> 
              </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
