.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

.image {
  height: 150px;
  width: 200px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.carousel-inner {

}
.carousel-image {
  width: 100%;
}

.carousel, .hero-unit {
    background:#1e1e1e;
}
.carousel .item {
  height: 500px;
}

.small-white {
  color: white;
}
.hero-unit {
  position: relative;
  padding: 0px 0px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background:#1e1e1e;
}

.navbar-text {
  margin-left: 15px;
}
