.navbar {
    background: #C62828;
}

.nav>li {
  color: white;
}

.nav>li:hover {
      background: #E53935;

    }


 .nav>li:selected {
   background: #E53935;
 }

 .nav>p {
   color: white
 }


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
     color: white;
}
