
  <!-- Custom CSS -->

<div class="container" id="myplan">

  <div id="myplan-schedule
" class="row row-content">
    <div class="col-xs-12 col-sm-9">
      <h2>My Meal Plan</h2>
      <div class="table-responsive">
        <table class="table table-condensed table-bordered">
          <tr >
                <th>Meals</th>
                <th ng-repeat="day in myplanCtrl.viewScheduleData.days">{{day.disp}}</th>
          </tr>
          <tr ng-repeat="meal in myplanCtrl.meals">
            <th class="capitalize {{'myplan-'+meal}}">{{meal }}</th>
            <td class="{{'myplan-'+meal+'-'+myplanCtrl.viewScheduleData.days[$index].dayname}}" ng-repeat="days in myplanCtrl.viewScheduleData[meal]">
                <recipecardmini></recipecardmini>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

