
  <!-- Custom CSS -->

<div class="container" id="myplan">

  <div id="myplan-schedule
" class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <h2>My Meal Plan</h2>
        <div class="row">
          <div class="col-md-6">
            <p class="input-group">
                <span class="input-group-addon" id="basic-addon1">Start Date</span>
              <input type="text" class="form-control" uib-datepicker-popup="{{myplanCtrl.format}}" ng-model="myplanCtrl.startDate" is-open="myplanCtrl.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="myplanCtrl.altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="myplanCtrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>

          <div class="col-md-6">
            <p class="input-group">
                <span class="input-group-addon" id="basic-addon2">End Date</span>
              <input type="text" class="form-control" uib-datepicker-popup="{{myplanCtrl.format}}" ng-model="myplanCtrl.endDate" is-open="myplanCtrl.popup2.opened" datepicker-options="myplanCtrl.dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="myplanCtrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      <div class="table-responsive">
        <table class="table table-condensed table-bordered">
          <tr >
                <th>Meals</th>
                <th ng-repeat="day in myplanCtrl.viewScheduleData.days">{{day.disp}}</th>
          </tr>
          <tr ng-repeat="meal in myplanCtrl.meals">
            <th class="capitalize {{'myplan-'+meal}}">{{meal}}</th>
            <td class="{{'myplan-'+meal+'-'+myplanCtrl.viewScheduleData.days[$index].dayname}}" ng-repeat="day in myplanCtrl.viewScheduleData[meal]">
                <recipecardmini 
                    mealtime="meal" 
                    date="day.date" 
                    on-random="myplanCtrl.randomMeal(day,meal)"
                    on-remove="myplanCtrl.removeMeal(meal)"
                    on-add="myplanCtrl.addRecipe(day,meal)"
                    recipedata="day.recipedata"
                    recipeid="day.recipeid"
                    mealid="day.mealid"
                ></recipecardmini>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

