
    <!-- Custom CSS -->
    <link href="search.css" rel="stylesheet">


<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Recipes
                <small class="page-header">Find a recipe</small>
            </h1>
        </div>
    </div>

  <div class="row">
    <form>
      <div class="form-group col-sm-10">
        <input type="search" class="form-control input-lg" id="search" placeholder="Search for a recipe" ng-model="searchCtrl.searchTerm">
      </div>

      <div class="col-sm-2">
        <button type="submit" ng-click="searchCtrl.search();" class="btn btn-info btn-lg">Search</button>
      </div>
    </form>
  </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row" >
        <div ng-repeat="recipe in searchCtrl.results | startFrom:(searchCtrl.currentPage -1)*searchCtrl.itemsPerPage | limitTo:searchCtrl.itemsPerPage">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <recipecard recipeid="recipe._id" title="recipe.title"></recipecard>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul uib-pagination total-items="searchCtrl.totalItems" items-per-page="searchCtrl.itemsPerPage" ng-model="searchCtrl.currentPage">
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->
